.DS_Store
.cache
.envrc

# ESP-IDF
build/
sdkconfig
sdkconfig.old
dependencies.lock
*.pyc
*.pyo
*.swp
*.swo
*.bak
*.tmp
managed_components/

# Editor configs
.vscode/
.idea/
.zed/

# Logs and dumps
*.log
*.core
*.dmp

# Factory config (не коммитим ключи!)
factory/
out/
